.mainimage{
    width: 80%;
    padding-left: 15%;
}
.minlogo{
    width: 20px;
    height: 20px;
}
.navbar-brand{
    padding: 6px 6px;
}
footer{
    text-align: center;
}
table{
    margin-left: 200px
    
}
td{
    background-color: whitesmoke;
    width: 360px;
    height: 500px;
    border: solid 1;
    border-radius: 50px;
    padding-left: 30px;
}